<div class="center jumbotron">
 <div class="home">
    <% if user_signed_in? %>
      <h2><%= "Drink Mart System" %></h2>
    <% end %>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
